<% content_for(:title) do %>
  <%= t('title.user_list') %>
<% end %>

<header class="main-content__header">
  <h1 class="main-content__page-title" id="page-title">
    <%= content_for(:title) %>
  </h1>

  <% if show_search_bar %>
    <%= render(
      "search",
      search_term: search_term,
      resource_name: t('resource.user')
    ) %>
  <% end %>

  <%= link_to "#{t("administrate.actions.edit")} sua conta ", edit_user_registration_path, class: "button user-edit", style: "margin-right: 10px;" %>
  <%= button_to t('devise.sessions.sign_out'), destroy_user_session_path, method: :delete, class: 'button' %>
</header>
