<section class="main-container">
  <div class="container-alerts">
    <% flash.each do |type, msg| %>
      <% if type.to_sym == :notice  %>
        <% alert_class = "alert-primary" %>
      <% else %>
        <% alert_class = "alert-danger" %>
      <% end %>
        <p class="alert <%= alert_class %>">
          <%= msg %>
        </p>
    <% end %>
  </div>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-sm-10 col-md-8 col-lg-6 col-xl-5 col-xxl-4">
        <div class="card border border-light-subtle rounded-4">
          <div class="card-body p-3 p-md-4 p-xl-5">
            <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
              <h4 class="text-center mb-4">Login</h4>
              <div class="row gy-3 overflow-hidden">
                <div class="col-12">
                  <div class="form-floating">
                    <%= f.email_field :email, class: "form-control", id: "email", autofocus: true, placeholder: '', autocomplete: "email", required: true %>
                    <%= f.label :email,  class: "form-label" %><br />
                  </div>
                </div>
                <div class="col-12">
                  <div class="form-floating">
                    <%= f.password_field :password, autocomplete: "current-password", placeholder: '', class:"form-control", id:"password", required: true %>
                    <%= f.label :password,  class: "form-label" %><br />
                  </div>
                </div>
                <% if devise_mapping.rememberable? %>
                  <div class="col-12">
                    <div class="form-check">
                      <%= f.check_box :remember_me, class: "form-check-input", id:"remember_me" %>
                      <%= f.label :remember_me, class: "form-check-label text-secondary", id: "remember_me"  %>
                    </div>
                  </div>
                <% end %>
                <div class="col-12">
                  <div class="d-grid">
                    <%= f.submit "Log in", class: "btn btn-primary btn-lg" %>
                  </div>
                </div>
              </div>
            <% end %>
          </div>
        </div>
        <div class="d-flex gap-2 gap-md-4 flex-column flex-md-row justify-content-md-center mt-4">
          <%= link_to 'Criar uma nova conta', new_user_registration_path, class: "link-secondary text-decoration-none" %>
          <%= link_to 'Editar uma conta existente', edit_user_password_path, class: "link-secondary text-decoration-none" %>
        </div>
      </div>
    </div>
  </div>
</section>